@use '../variables' as *;

body {
	background: $background-gradient;
	position: relative;

	&::before {
		background-image: url(/assets/images/patterns/bg-top-right-pattern.webp);
		background-position: top right;
		background-repeat: no-repeat;
		background-size: contain;
		content: '';
		height: 50%;
		position: absolute;
		right: 0;
		top: 68px;
		width: 50%;
		z-index: -1;
	}
}
