// LIGHT THEME
$background-color-dark: #e0f7da;
$background-color-light: #c8e6c9;

$text-color-main: #161312;
$text-color-hover: #ffffff;

$box-shadow-card: 8px 8px 12px rgba(#5d6482, 0.12);

$card-background: #f3e6d6;

// DARK THEME
